@import "./base";

.input-container {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg-secondary);
  transition: background-color 0.3s ease-in-out;
  border-radius: var(--border-radius-sm);
  @extend %disable-user-select;

  input {
    width: 100%;
    margin-left: 3em;
    padding: 1.2em;
    border-radius: var(--border-radius-sm);
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--text-clr);
    transition: color 0.3s ease-in-out;
    font-weight: 400;
    font-size: 18px;
  }

  ::placeholder {
    color: var(--text-input-clr);
    font-weight: 400;
  }

  span {
    display: block;
    top: -15px;
    position: relative;
  }
}
